<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/scripts/main.js"></script>
<style>
select {width: 100%;}
</style>
<form action="/calc_hit/" method="POST" id="rangedForm">
    {% csrf_token %}
    <table>
      <tr>
        <td >shooting skill</td>
        <td>
          <select name="shootingSkill" form="rangedForm" id=shootingSkill>
            <option value=4 {% if shootingSkill == 4 %}selected{% endif %} >untrained (4)</option>
            <option value=6 {% if shootingSkill == 6 %}selected{% endif %} >6</option>
            <option value=8 {% if shootingSkill == 8 %}selected{% endif %} >8</option>
            <option value=10 {% if shootingSkill == 10 %}selected{% endif %} >10</option>
            <option value=12 {% if shootingSkill == 12 %}selected{% endif %} >12</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>range</td>
        <td>
          <select name="range" form="rangedForm" id=shootingRange>
            <option value=0 {% if shootingRange == 0 %}selected{% endif %} >short</option>
            <option value=2 {% if shootingRange == 2 %}selected{% endif %} >medium</option>
            <option value=4 {% if shootingRange == 4 %}selected{% endif %} >long</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>cover</td>
        <td>
          <select name="cover" form="rangedForm" id=cover>
            <option value=0 {% if cover == 0 %}selected{% endif %} >None</option>
            <option value=2 {% if cover == 2 %}selected{% endif %} >minor</option>
            <option value=4 {% if cover == 4 %}selected{% endif %} >substantial</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>specialized</td>
        <td>
          <input type="radio" name=specialized value=2 form="rangedForm" {% if specialized == 2 %}checked{% endif %} /> no
          <input type="radio" name=specialized value=0 form="rangedForm" {% if specialized == 0 %}checked{% endif %} /> yes
        </td>
      </tr>
      <tr>
        <td>mods</td>
        <td><input type="number" name=mods value={{mods}} form="rangedForm" /></td>
      </tr>
    </table>
    <input type=submit form=rangedForm></input></br>
</form>


<div style="display:none" id=result-div>

    You rolled a <span id=rollResult></span> </br>
    After factoring for modifiers, you rolled a <span id=result></span>
    <h1 id=statement></h1>
</div>
